<mat-card>
    <mat-card-title>
        Date Component
    </mat-card-title>
    <mat-card-content>

    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
        <br>

        &nbsp;
        <button 
        mat-mini-fab 
        color="secondary" 
        (click)="cancelDate()">
          Cancel
        </button>
    
        <br><br>

        <h3>
            Date Picked: {{ selectedDate | date:'MM/dd/yyyy' }}
        </h3>
    
    </mat-card-content>
</mat-card>
